body {
	background-color: #111111;
	color: #ffffff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid {
	display: grid;
	gap: 1px;
	grid-template-columns: repeat(3, 1fr);
}

.broadcast {
	text-align: center;
}

.broadcast:link {
	color: #555555;
}

.footer {
	text-align: center;
	color: #3d3d3d;
}

.footer:link {
	color: #555555;
}

div > div {
	padding: 10px;
	background-color: #303030;
	color: #ffffff;
}
